<div class="content-container">
  <div class="map-container">
    <h1>MAP GOES HERE</h1>
    <div class="map">


      <%= image_tag 'image.png' %> 


      <% @users.each do |user| %>
          <div class="user-pin" style="top: <%= user.y_pos %>px; right: <%= user.x_pos %>px;">
            <div class="user-pin-details">
              <h1><%= user.first_name %> <%= user.last_name %></h1>
              <h2><%= user.skill %></h2>
              <%= link_to 'Show', user_path(user) %>
            </div>
          </div>
      <% end %>
    </div>

  </div>
</div>
