<div class="content-container">
  <div class="map-container">
    <div class="map">
      <%= image_tag 'map1.png', class: 'map-image' %>
      <% @users.each do |user| %>
          <div class="user-pin" style="top: <%= user.y_pos %>px; right: <%= user.x_pos %>px;">
            <div class="user-pin-details" style="text-transform: capitalize">
              <%= image_tag user.image, class: 'profile-pic' %>
              <h3 style="color: #17335E"><%= user.full_name %></h3>
              <h4><%= user.skill %></h4>
              <div class="button">
              <%= link_to 'Portfolio', user_path(user)%>
            </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <a href="/requests/new">
  <div class="request-link">
    <button type="button">Make a Request</button>
  </div>
  </a>

</div>
