<div class="user-profile-container">

  <div class="user-profile">

    <div class="user-profile-image">
      <%= image_tag @user.image %>
    </div>

    <div class="user-profile-title">
      <h1 style="text-transform: capitalize"><%= @user.full_name %></h1>
    </div>

    <div class="user-profile-details" style="text-transform: capitalize">
      <p><b>Skills</b>: <%= @user.skill %> </p>
      <p><b>Birthdate</b>: <%= @user.dob %> </p>
      <p><b>Address</b>: <%= @user.location %> </p>
      <p><b>email</b>: <%= @user.email %> </p>
      <p><b>Phone</b>: <%= @user.phone %> </p>
      <button class="message">Message</button>
    </div>

    <!-- <p>This is the page where we could load the mentoring history for the given user.</p> -->
    <!-- <p>I'm going to add two links here, one to choose to "Mentor" this person, and one to choose to "Apprentice to" this person.</p> -->

  </div>
</div>
