<div class="requests-container">

    <h1>Make a New Request</h1>

    <div class="request-form">
    <%= form_for @request do |f| %>
        <%= f.label :skill %>
        <% options = options_from_collection_for_select(@skills, 'id', 'skill_name') %>
        <%= f.select :skill, options %>
        <%= f.label :mentor %>
        <% options = options_from_collection_for_select(@users, 'id', 'full_name') %>
        <%= f.select :mentor, options %>
        <%= f.submit %>

    <% end %>
    </div>

</div>     

